/*=====================
Colors
=======================*/
$primary: #DD141D;
$secondary: #707070;

// $green: #4C9F38;
// $blue: #26BDE2;
// $yellow: #FCC30B;
// $orange: #FD6925;
// $pink: #DD1367;
// $dark-yellow: #FD9D24;
// $dark-red: #E5243B;
// $dark-purple: #A21942;

$brown: #240000;
$black: #000000;
$white: #F2F2F2;

/*=====================
Backgrounds
=======================*/
$bg-body: $white;

/*=====================
Fonts
=======================*/
$font-color-h1: #afafaf;
$font-color-h2: #888;
$font-color-h3: #7e7e7e;
$font-color-h4: #7e7e7e;
$font-color-h5: #dd141d;
